@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
   
    font-family: 'Poppins', sans-serif;
}